/* barra de navegação */

header,
.navbar {
  background-color: #ffff;
}
#nav-container {
  padding-top: 0;
  padding-bottom: 0;
}
#logo {
  width: 97px;
  height: 91px;
}
.navbar-brand {
  padding: 0;
  color: #637046;
  font-style: bold;
  font-size: 36px;
  background-color: #ffff;
}
/* Barra de pesquisa */
.caixa1 {
  display: flex;
  align-items: center;
  justify-items: center;
}
.caixa {
  background-color: #ffff;
}
.input-wrapper {
  padding: 8px 12px;
  display: flex;
  align-items: center;
  gap: 6px;
  background-color: #e8e9ee;
  border-radius: 9px;
  border: 1px solid #8eb041;
  width: 847px;
  height: 60px;
}
.input-wrapper i {
  color: #8eb041;
}
.input-wrapper input {
  background-color: transparent;
  border: none;
  color: #423746;
  width: 827px;
  height: 50px;
  font-size: 20px;
}
.input-wrapper input:focus-visible {
  outline-offset: none;
  outline: none;
}

/* barra de navegação */
#navbar-links a {
  color: #8eb041;
  font-size: 24px;
  padding-left: 70px;
}

.navbar-expand-lg .navbar-nav .nav-ink {
  padding: 1rem 0.8rem;
}

.dropdown-toggle::after {
  display: none;
}

/* Pagina */
body {
  background-color: #637046;
}

.container {
  background-color: #f5f5f5;
  padding: 2rem;
  border-radius: 8px;
  max-width: 60%;
  margin-top: 10rem;
  margin-bottom: 3rem;
}
.dados_pessoais{
  max-width: 600px;
  margin: 0 auto;
}

/* Centraliza o conteúdo da aba de "Meus Pedidos" */
#ordersAccordion {
  width: 100%;
  max-width: 800px; 
  margin: 0 auto; 
}

.accordion-item {
  width: 100%;
  max-width: 500px; 
  margin: 0 auto; 
}
.nav-link {
  color: #423746;
}

.nav-link:hover {
    color: green; /* Cor ao passar o mouse */
}

.mb-4 {
  color: #423746;
}

.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.usuario {
  width: 140px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-label {
  color: #84469b;
}

.btn-purple {
  background-color: #84469b;
  color: white;
}

.btn-purple:hover {
  background-color: #7a5bb0;
}
